*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #22343d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/* #region Header */
.header-page {
}
.header-content {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  padding: 26px 0;
  margin-right: 237px;
  margin-left: 16px;
}
.header-nav-link {
}
.header-list-link {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 73px;
}
.header-item-link {
}
.header-link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
}
.header-list-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-item-btn {
}
.header-button {
  display: block;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  cursor: pointer;
  height: 42px;
  min-width: 105px;
  margin-right: 21px;
}
.header-btn {
  display: block;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  height: 42px;
  min-width: 105px;
  background: #02897a;
}
/* #endregion Header */

/* #region Hero */
.hero {
}
.hero-title {
}
.hero-txt {
}
.hero-btn {
}
.hero-button {
}
/* #endregion Hero */

/* #region Feature */
.feature {
}
.feature-title {
}
.feature-list {
}
.feature-item {
}
.feature-subtitle {
}
.feature-text {
}
.feature-btn {
}
/* #endregion Feature */

/* #region Business management */
/* #endregion Business management */

/* #region Support */
/* #endregion Support */

/* #region Collaborative */
/* #endregion Collaborative */

/* #region Staff */
/* #endregion Staff */

/* #region Strategies */
/* #endregion Strategies */

/* #region Pricing */
/* #endregion Pricing */

/* #region Feedback */
/* #endregion Feedback */

/* #region Promo */
/* #endregion Promo */

/* #region Footer */
/* #endregion Footer */
